<div class="container">
    <div class="row">
      <!-- Users List (75%) -->
      <div class="col-md-9">
        <h2>All Users</h2>
        <div *ngIf="users && users.length > 0; else noUsers">
          <!-- Table to display users -->
          <table class="table table-bordered users-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.location }}</td>
                <td><button class="btn btn-success">Request User</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noUsers>
          <p>No users available.</p>
        </ng-template>
      </div>
  
      <!-- Accepted Requests (25%) -->
      <div class="col-md-3">
        <h2>Accepted Requests</h2>
        <!-- Display accepted requests here -->
        <!-- You can uncomment and modify this section if needed -->
        <!-- <div *ngFor="let request of acceptedRequests">
          {{ request.senderName }} - {{ request.senderLocation }}
        </div> -->
      </div>
    </div>
  </div>
  